@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Funnel Sans", sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  /* background: radial-gradient(#031024 0%, #0c0d13 100%); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blue {
  color: rgb(39, 133, 241);
}

.loader {
  display: inline-flex;
  gap: 10px;
  margin-bottom: 12px;
}
.loader:before,
.loader:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #4d4d4d 95%, #0000) 35% 35%/6px 6px
    no-repeat #fff;
  animation: l5 3s infinite;
}
@keyframes l5 {
  0%,
  11% {
    background-position: 35% 35%;
  }
  14%,
  36% {
    background-position: 65% 35%;
  }
  38%,
  61% {
    background-position: 65% 65%;
  }
  64%,
  86% {
    background-position: 35% 65%;
  }
  88%,
  100% {
    background-position: 35% 35%;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Set the desired width of the scrollbar */
}

/* Track of the scrollbar */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light gray background for the scrollbar track */
  border-radius: 6px; /* Slightly rounded corners for the track */
}

/* Handle of the scrollbar */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* Darker gray for the scrollbar thumb (the draggable part) */
  border-radius: 6px; /* Rounded corners for the thumb */
  border: 3px solid #f0f0f0; /* Add a border to make the thumb appear smaller and centered */
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #808080; /* Slightly darker gray on hover for interaction feedback */
}

/*
          For Firefox, you would use these properties.
          Note: These are commented out as the primary request is for a general solution,
          but it's good to be aware of browser-specific implementations.
        */
/*
        .custom-scrollbar {
          scrollbar-width: thin; // 'auto' or 'thin'
          scrollbar-color: #a0a0a0 #f0f0f0; // thumb color track color
        }
        */
